*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;

}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: gray;
    margin: 5px;
}

.boom {
    background-color: black;
}

.done {
    background-color: red;
}

.ex {
    background-color: blue;
}